/* General Formatting */

body, html {
		height: 100%;
		background-color: #fbfbfb;
}

p {
	font-family: 'Lato', sans-serif;	
}

/* Parallax Scrolling Effect 
Reference: https://www.w3schools.com/howto/howto_css_parallax.asp
///////////////////////////////
*/

.parallax {
	/* Image Used */
	background-image: url('../img/Kinderdijk_Background.JPG');
	 /* Full height */
	min-height: 100%; 
}	

.parallax2 {
	/* Image Used */
	background: url('../img/Kinderdijk_Divider.JPG');
	/* Photo Size */
	min-height: 200px;
}

.parallax3 {
	/* Image Used */
	background: url('../img/City_Background.JPG');
	/* Photo Size */
	min-height: 100%;	
}

.parallax, .parallax2, .parallax3 {
	position: relative;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones.*/
@media only screen and (max-device-width: 1366px) {
  .parallax, .parallax2, .parallax3 {
    background-attachment: scroll;
  }
}

/* Welcome
///////////////////////////////
*/
/*.indexBorder {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	margin: 1em;
	padding: 1em;
	outline: 5px solid #fbfbfb;
	outline-offset: -5px;
	text-align: center;
}*/

.Welcome {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	margin: 1em;
	padding: 1em;
	outline: 5px solid #fbfbfb;
	outline-offset: -5px;	
	text-align: center;
}

.WelcomeText {
	font-family: 'Indie Flower', cursive;
	font-size: 2.5em;
	color: #fbfbfb;
	line-height: 1em;
}

.WelcomeName {
	font-family: 'Indie Flower', cursive;
	font-size: 4em;
	color: #fbfbfb;
}

.WelcomeEllipse {
	font-family: 'Indie Flower', cursive;
	font-size: 4em;
	color: #fbfbfb;
	line-height: 0;
}

/* Profile
///////////////////////////////
*/
.container {
	width: 100%;
}

.Profile {
	width: 100%;
	padding: 1em;
	display: table;
	background-color: #fbfbfb;
}

* {
	box-sizing: border-box;
}

.ProfilePic {
	float: left;
	width: 40%;
	padding: 1em;
	min-height: 480px;
	display: table-cell;
	vertical-align: middle;
}

.ProfileContent {
	float: left;
	width: 60%;
	padding: 1em;
	min-height: 480px;
	display: table-cell;
	vertical-align: middle;
}

.ResponsiveRow:after {
	content: "";
	clear: both;
}

.SectionTitle {
	font-family: 'Indie Flower', cursive;
	font-size: 4em;
	color: #323C3C;
	text-align: center;
	line-height: 1em;
}

.SectionUnderline {
	width: 5em;
	border-top: 0.1em solid #BEBFB0;
}


.avatar {
	width: 80%;
	border-radius: 50%;
	vertical-align: middle;
	display: table-cell;
	margin: auto;
}

.ImgSm {
	display: none;
}

.details {
	text-align: center;
}

.highlight {
	font-weight: 800;
	color: #a78d64;
}

.highlightLink:hover {
	color: #323c3c;
}

@media (max-width: 1300px) {
	.ProfilePic {
		width: 100%;
		min-height: 0;
	}
	
	.ProfileContent{
		width: 100%;
		min-height: 0;
	}
	
	.ImgSm {
		display: table-cell;
	}
	
	.ImgLg {
		display: none;
	}
	
	.avatar {
		width: 14em;
		height: 14em;
	}
	
	.Profile .content {
		padding: 0;
		margin: 0;
	}
	
	.SectionTitle {
		font-size: 3em;
	}

}	

/* Resume
///////////////////////////////
*/

.Resume {
	padding: 1em;
	padding-top: 2em;
	width: 100%;
	position: relative;
	background-color: #2e373d;
}

.SectionTitleDark {
	font-family: 'Indie Flower', cursive;
	font-size: 4em;
	color: #BEBFB0;
	text-align: center;
	line-height: 1em;
}
	
.SectionSubTitleDark {
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
	color: #BEBFB0;
	line-height: 1em;
	width: 100%;
}

.Dark {
	font-family: 'Lato', sans-serif;
	color: #fbfbfb;
}

@media (max-width: 1300px) {
	.SectionTitleDark {
		font-size: 3em;
	}
}	

/* Work Experience Timeline
// Reference: https://codepen.io/chriswrightdesign/pen/XJzNBN/ 
*/

.line {
	display: inline-block;
}

.JobTitle {
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	color: #fbfbfb;	
}

.JobCompany {
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	color: #fbfbfb;	
	font-style: italic;
}

.JobDates {
	font-family: 'Lato', sans-serif;
	font-size: 0.8em;
	color: #bebfbd;	
	opacity: 0.8;
	font-style: italic;
	float: right;
}

.VolunteerTitle {
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	color: #fbfbfb;	
}


.VolunteerCompany {
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	color: #fbfbfb;	
	font-style: italic;
}

.VolunteerDates {
	font-family: 'Lato', sans-serif;
	font-size: 0.8em;
	color: #bebfbd;	
	opacity: 0.8;
	font-style: italic;
}

.JobDescription {
	font-family: 'Lato', sans-serif;
	color: #fbfbfb;		
}

.highlightDark {
	font-weight: 800;
	color: #BEBFB0;
}

.highlightDarkLink:hover {
	color: #fbfbfb;
}

.highlightSkill {
	font-weight: 800;
	color: #2e373d;
	background-color: #BEBFB0;
	padding: 8px 12px;
	border-radius: 4px;
	border: solid 1px #BEBFB0;
	line-height: 2.7em;
}

/* Portfolio
///////////////////////////////
*/

.Portfolio {
/* 	padding: 1em;
	padding-top: 2em;
	position: relative;
	background-image: url('../img/City_Background.JPG');
	background-size: cover;
	min-height: 100%; */
	width: 100%;
	padding: 1em;
	display: table;
	background-color: #fbfbfb;
}

.SectionSubTitle {
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
	color: #323C3C;
	line-height: 1em;
	width: 100%;
}

.PortfolioDescription {
	font-family: 'Lato', sans-serif;
}

.PortfolioStatus {
	font-family: 'Lato', sans-serif;
	font-size: .75em;
	font-style: italic;
	line-height: 1em;
}

.PortfolioItem {
	padding: 1em;
	padding-bottom: 2em;
}

.PortfolioItemCard {
	background-color: #BEBFB0;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 1em;	
}

.PortfolioItemCard:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.PortfolioImg {
/* Ensure aspect ration 4:3 */
	width: 90%;
	padding-top: 1em;
	display: block;
	margin: 0 auto;
}

/* Contact
///////////////////////////////
*/
.Contact {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	margin: 1em;
	padding: 1em;
	outline: 5px solid #fbfbfb;
	outline-offset: -5px;	
	text-align: center;
}

.fas, .fab {
	font-family: 'Lato', sans-serif;
	color: #323C3C;
	font-size: 4em;
	vertical-align: middle;
}

.fas:hover, .fab:hover {
	-webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.contactRow {
	display: block;
	margin: 0 auto;
}

.contactInfo {
	font-family: 'Lato', sans-serif;
	color: #FBFBFB;
	font-size: 3em;
	vertical-align: middle;
	line-height: 2em;
}

.contactLink {
	font-family: 'Lato', sans-serif;
	color: #FBFBFB;
	padding: 1em;
}

.contactLink:hover {
	color: #BEBFB0;
	font-weight: 800;
}


/* Font Options
///////////////////////////////
font-family: 'Lato', sans-serif;
font-family: 'Indie Flower', cursive;
*/
